body {
  font-family: "futura-pt",sans-serif;
  margin:60px;
  font-size:17px;
  line-height:23px;
}

body a{
  font-size:60px;
  line-height:60px; 
display:block;margin-bottom:60px; text-decoration:none;
color:#000;
}
a:hover, a:active{
color:#cc000f;
}


h1, h2, h3, h4, h5, h6 {
font-family: "futura-pt",sans-serif;
}

em {
font-style:italic;
}

blockquote{
font-style:italic;
}

h2{
font-size:24px;
line-height:23px;
padding-top:10px;
padding-bottom:13px;
}

h3{
font-weight:bold;
font-size:17px;
padding-top:13px;
line-height:17px;
padding-bottom:10px;
text-transform:uppercase;
}

a {
color:#000;
}

a:active, a:hover{
text-decoration:none;
color:#CC000F;
}

p {
  font-size:17px;
  text-align:justify;
  margin-bottom:23px;
}

article{
margin: 23px;
width:100%;
max-width:460px;
}
article h1, article time:first-child{
font-size:38px;
line-height:46px;
}
